## Use this as example to set your .env file
SERVER_PORT=8080

# database
URL_DATABASE=jdbc:mysql://localhost:3306/whatsapp
USERNAME_DB=student
PASS_DB=student

#  Hibernate
HIBERNATE_DDL_AUTO=update
SHOW_SQL=true